# Configurações do Supabase & Vercel
VITE_SUPABASE_URL=https://sua-instancia.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anonima-publica

# Chave de Geocodificação do Google Maps (Geocoding API)
VITE_GOOGLE_MAPS_API_KEY=sua-chave-api-google-maps
